* {
  box-sizing: border-box;
}
body {
  margin: 0 10px;
}
.navBar {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: #ff742b;
  align-items: center;
  justify-content: center;
  height: 70px;
  padding: 4px;
}

.navBar img {
  height: 50px;
  margin: 0 5px;
}

.searchLabel {
  color: #000;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: 600;
  text-align: left;
}

.searchContainer {
  /* position: relative; */
  /* display: inline-block; */
  margin: 0 16px;
}

.searchInput {
  border: none;
  height: 42px;
  padding: 5px 144px 5px 15px;
  font-weight: 300;
  color: rgb(0, 0, 0, 0.75);
}
.navBar span {
  font-size: 18px;
  font-weight: 400;
}

.filtersCont {
  width: 100%;
  display: flex;
  background-color: #f6f6ef;
  color: #000;
  font-size: 15px;
  margin-top: 50px;
  height: 42px;
  align-items: center;
  justify-content: left;
}
.filterLabel {
  margin: 0 5px;
}

.storyData {
  margin: 5px 10px;
}

.storyTitle {
  width: 100%;
  position: relative;
  margin-bottom: 4px;
}

.storyTitle a {
  color: #070707;
  text-decoration: none;
  font-size: 16px;
  margin-left: 5px;
}

.storyLink {
  color: #c0bdbd;
  word-break: break-all;
}


.storyMeta {
color: #696969;
font-size: 11px;
margin-left: 5px;
}

.spanSep {
margin: 0 5px;
color: #696969;
}
@media (max-width: 600px) {
  .navBar {
    padding-left: 0;
  }
  .searchContainer {
    width: calc(100% - 240px);
  }
  .searchLabel {
    display: none;
  }
}
